<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Üye menü</h2>

                    <ul class="panel-group category-products" >
                        <li><a href="{{ path('userpanel_show') }}"><span class="icon-chevron-right"></span> Bilgilerim</a></li>
                        <li><a href="{{ path('userpanel_edit') }}"><span class="icon-chevron-right"></span> Düzenle</a></li>
                        <li><a href=" {{ path('orders_index') }}"><span class="icon-chevron-right"></span> Siparişlerim</a></li>
                        <li><a href="{{ path('shopcart_index') }}"><span class="icon-chevron-right"></span> Sepetim</a></li>
                        <li><a href="{{ path('app_logout') }}"><span class="icon-chevron-right"></span> Çıkış</a></li>
                    </ul>


                </div><!--/category-products-->

                <!--/brands_products-->


               <!--/shipping-->


            </div>









            <!-- sidebar-->
