
{% block content %}
    <!--PAGE CONTENT -->
    <section class="content">

        <div class="inner" style="min-height:1200px;">
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-lg-12">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="icon-th-large"></i></div>
                                <h5>Mesaj formu</h5>
                                <div class="toolbar">
                                    <ul class="nav">
                                        <li>
                                            <div class="btn-group">
                                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse" href="#collapseOne">
                                                    <i class="icon-chevron-up"></i>

                                                </a>

                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </header>
                            <div id="collapseOne" class="accordion-body collapse in body">
                                <div id="collapseOne" class="accordion-body collapse in body">
                                    <form class="form-horizontal"  method="post">

                                        <div class="form-group">
                                            <label class="control-label col-lg-4">Adı Soyadı</label>
                                            <div class="col-lg-4">
                                                <input type="text"  name="message[name]" value="{{ message.name }}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4">E-mail</label>

                                            <div class="col-lg-4">
                                                <input type="email" name="message[email]" value="{{ message.email }}"class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4">Subject</label>

                                            <div class="col-lg-4">
                                                <input type="text" " name="message[subject]" value="{{ message.subject }}"class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4">Comment</label>

                                            <div class="col-lg-4">
                                                <input type="text"  name="message[comment]" value="{{ message.comment }}"class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-4">Status</label>

                                            <div class="col-lg-4">
                                                <select class="form-control " name="message[status]"  ">
                                                <option >{{ message.status }}</option>
                                                <option >Okundu</option>
                                                <option >Okunmadı</option>

                                                </select>
                                            </div>
                                        </div>




                                        <div class="box-footer" style="text-align:center;">
                                            <a href="{{ path('admin_messages_index') }}" class="btn btn-warning btn-lg" ><i class="icon-remove icon-white"></i> Iptal</a>
                                            <button type="submit"  class="btn btn-primary btn-lg "><i class="icon-check"></i> Kaydet</button>


                                        </div>

                                    </form>
                                    {{ include('admin/messages/_delete_form.html.twig') }}

                                </div>

                            </div>
                        </div>





                    </div>


                </div>

            </div>

    </section>

    <!--END PAGE CONTENT -->
{% endblock %}