{% extends 'base.html.twig' %}


{% block title %}Product index{% endblock %}

{% block content %}
    {{ include('User/messages.html.twig', {'button_label': 'Upd ate'}) }}

    <section class="content">
        <div class="box">

            <div class="box-body">

                <h2>Sipariş Detayı</h2>

                <table class="table table-bordered">
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <th>Id</th>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <th>Userid</th>
                        <td>{{ order.userid }}</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>{{ order.amount }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ order.name }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ order.city }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ order.phone }}</td>
                    </tr>
                    <form action="{{ path('admin_orders_update',{'id': order.id}) }}" method="post">
                        <tr>
                            <th>Shipinfo</th>
                            <td><textarea name="shipinfo" cols="100" rows="3">{{ order.shipinfo }}</textarea></td>
                        </tr>
                        <tr>
                            <th>Admin note</th>
                            <td><textarea name="note" cols="100" rows="3">{{ order.note }}</textarea></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td><select name="status">
                                    <option>{{ order.status }}</option>
                                    <option>Accepted</option>
                                    <option>Shipping</option>
                                    <option>Canceled</option>
                                    <option>Completed</option>
                                </select>
                                <input type="submit" value="Guncelle">
                            </td>
                        </tr>

                    </form>

                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </section>



                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Product Name</th>
                                <th>Sale Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set total=0 %}
                            {% for rs in orderdetail %}
                                <tr>
                                    <td>{{ rs.Id }}</td>
                                    <td>{{ rs.name }}</td>
                                    <td>{{ rs.price }}</td>
                                    <td>{{ rs.quantity }}</td>
                                    <td>{{ rs.amount }}</td>
                                    <td>{{ rs.status }}</td>
                                </tr>
                            {% else %}
                                </tr>

                                <tr>
                                    <td colspan="13">OrderDetail</td>
                                </tr>
                            {% endfor %}
                            <tr>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div> </div></section>



                </div></div></section>
            {% endblock %}
